<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "最小二乗法") %>

  <div class="all">

    <div class="title">最小二乗法</div>
    <div class="padt-10"></div>
    <!-- ページネーション機能（Bootstrap） -->
    <nav aria-label="Page navigation">
      <!-- justify-content-centerでページネーションを中央寄せ -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="least_squares2">前へ</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="least_squares1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="least_squares2">2</a>
        </li>
        <li class="page-item active">
          <span class="page-link">
            3<span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item disabled">
          <a class="page-link">次へ</a>
        </li>
      </ul>
    </nav>
    <div class="padb-10"></div>

    <div class="column">
      <div class="main">

        <div class="caption">3.&ensp;実際にやってみよう</div>
        <div class="topSpace"></div>
        <div class="text">
            例題: 英語と数学の点数のデータに対して、「データの関係を表すための関数」が直線であると仮定する。 このときの「データの関係を表すための直線」を最小二乗法を用いて求めよ。 また、英語の点数が4点の人の数学の点数を求めた直線に基づいて予測せよ。<br><br>

            <div class="img-yokolist">
              <table border="border" width="360" height="240" class="top"><br>
                <tr>
                  <td>人名/点数</td>
                  <td>数学(点)</td>
                  <td>英語(点)</td>
                </tr>
                <tr>
                  <td>Aさん</td>
                  <td>5 $(=x_1)$</td>
                  <td>4 $(=y_1)$</td>
                </tr>
                <tr>
                  <td>Bさん</td>
                  <td>6 $(=x_2)$</td>
                  <td>7 $(=y_2)$</td>
                </tr>
                <tr>
                  <td>Cさん</td>
                  <td>7 $(=x_3)$</td>
                  <td>9 $(=y_3)$</td>
                </tr>
                <tr>
                  <td>Dさん</td>
                  <td>8 $(=x_4)$</td>
                  <td>6 $(=y_4)$</td>
                </tr>
                <tr>
                  <td>Eさん</td>
                  <td>9 $(=x_5)$</td>
                  <td>10 $(=y_5)$</td>
                </tr>
              </table>

              <%= link_to image_tag "pro1.png", class: 'img left' %>
            </div>
            <br><br>

            <!--<div class="text1">-->
            求めたい直線を$f(x)=ax+b$とおくと誤差の二乗和$E(a,b)$は<br><br>
            $E(a,b)=\displaystyle\sum_{i=1}^{5}\{y_i-(ax_i+b)\}^2$<br>
            <div class="mgr-55">
            $=\{y_1-(ax_1+b)\}^2 + \{y_2-(ax_2+b)\}^2 + \{y_3-(ax_3+b)\}^2 $ $+ \{y_4-(ax_4+b)\}^2 + \{y_5-(ax_5+b)\}^2$
            </div>

            <br>ここで各データ$(x_i,y_i)(i=1$~$5)$を代入すると<br><br>
            $E(a,b)=\{y_1-(ax_1+b)\}^2 + \{y_2-(ax_2+b)\}^2 + \{y_3-(ax_3+b)\}^2 $ $+ \{y_4-(ax_4+b)\}^2 + \{y_5-(ax_5+b)\}^2 $
            <div class="mgr-55">$=(1)\underline{\{&emsp;&emsp;\}}^2+ \{7-(6a+b)\}^2 + \{9-(7a+b)\}^2 $ $+ \{6-(8a+b)\}^2 + \{10-(9a+b)\}^2$</div><br>
            $i=1$のときの$(1)\underline{\{&emsp;&emsp;\}}^2$を計算すると、$=(2)\underline{(&emsp;&emsp;)}+b^2$<br>
            $(1)\underline{\{&emsp;&emsp;\}}^2$
            <!--</div>-->
            <span class="hidden_box3">
              <label for="label4">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label4"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=4^2-2\times4\times(5a+b)+(5a+b)^2$ $=16-2\times4\times5a-2\times4\times b+(5a)^2+2\times5ab+b^2$
                </span>
                <!--ここまで-->
              </div>
              <br>
            </span>

            同様に$i=2$~$5$についても計算すると<br><br>
            $\{7-(6a+b)\}^2$
            <span class="hidden_box3">
              <label for="label5">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label5"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=7^2-2\times7\times(6a+b)+(6a+b)^2$ $=49-2\times7\times6a-2\times7\times b+(6a)^2+2\times6ab+b^2$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=49-84a-14b+36a^2+12ab+b^2$
            <br><br>
            $\{9-(7a+b)\}^2$
            <span class="hidden_box3">
              <label for="label6">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label6"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=9^2-2\times9\times(7a+b)+(7a+b)^2$ $=81-2\times9\times7a-2\times9\times b+(7a)^2+2\times7ab+b^2$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=81-126a-18b+49a^2+14ab+b^2$
            <br><br>$\{6-(8a+b)\}^2$
            <span class="hidden_box3">
              <label for="label7">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label7"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=6^2-2 \times 6 \times (8a+b)+(8a+b)^2$ $=36-2 \times 6 \times 8a-2 \times 6 \times b+(8a)^2+2 \times 8ab+b^2$</span>
                <!--ここまで-->
              </div>
            </span>
            $=36-96a-12b+64a^2+16ab+b^2$
            <br><br>$\{10-(9a+b)\}^2$
            <span class="hidden_box3">
              <label for="label8">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label8"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=10^2-2\times10\times(9a+b)+(9a+b)^2$ $=100-2\times10\times9a-2\times10\times b+(9a)^2+2\times9ab+b^2$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=100-180a-20b+81a^2+18ab+b^2$<br><br>
            よって<br>
            $E(a,b)=(1)\underline{\{&emsp;&emsp;\}}^2 + \{7-(6a+b)\}^2 + \{9-(7a+b)\}^2 $ $+ \{6-(8a+b)\}^2 + \{10-(9a+b)\}^2$<br>
            <span class="hidden_box3">
              <label for="label9">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label9"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=(16-40a-8b+25a^2+10ab+b^2)$ $=((2)\underline{(&emsp;&emsp;)}+b^2)$ $+(81-126a-18b+49a^2+14ab+b^2)$ $+(36-96a-12b+64a^2+16ab+b^2)$ $+(100-180a-20b+81a^2+18ab+b^2)$ $=(16+49+81+36+100)$ $+(-40-84-126-96-180)a$ $+(-8-14-18-12-20)b$
                  $+(25+36+49+64+81)a^2$ $+(10+12+14+16+18)ab$ $+5b^2$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=282-526a-72b+255a^2+70ab+5b^2$となる。<br><br>
            $E(a,b)$の式を$a$について整理すると、<br>
            $E(a,b)$
            <span class="hidden_box3">
              <label for="label10">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label10"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=282-526a-72b+255a^2+70ab+5b^2$ $=255a^2+70ab-526a+5b^2-72b+282$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=255a^2+(70b-526)a+5b^2-72b+282$となる。<br>これを$b$を定数として固定して、$a$で$^*$微分すると<br><br>
            $(E(a,b)$を$a$で微分$)=(3)\underline{&emsp;&emsp;}$となる。<br><br>
            また、$E(a,b)$の式を$b$について整理すると、<br>
            $E(a,b)$
            <span class="hidden_box3">
              <label for="label11">
                <span class="underl">途中式</span></label>

              <input type="checkbox" id="label11"/>
              <div class="hidden_show3">
                <!--非表示ここから-->
                <span class="text">
                  $=282-526a-72b+255a^2+70ab+5b^2$ $=5b^2+70ab-72b+255a^2-526a+282$
                </span>
                <!--ここまで-->
              </div>
            </span>
            $=5b^2+(70a-72)b+255a^2-526a+282$となる。<br>これを$a$を定数として固定して、$b$で微分すると<br><br>
            $(E(a,b)$を$b$で微分$)=(4)\underline{&emsp;&emsp;}$となる。<br><br>
            誤差の二乗和が最小となる$a,b$は、関数$E(a,b)$を$a$で微分したものと<br>
            関数$E(a,b)$を$b$で微分したものがともに0となるときなので<br>
            \[ \begin{cases} (E(a,b)をaで微分)=(3)\underline{&emsp;&emsp;}&emsp;&emsp;-[1]\\ (E(a,b)をbで微分)=(4)\underline{&emsp;&emsp;}&emsp;&emsp;-[2] \end{cases} \] の2式に対して連立方程式を解く。<br>
            $[2]$を7倍すると<br><br>
            $([2]×7)=70b+490a-504=0$&emsp;&emsp;$-[2]'$<br><br>
            $[1]-[2]’$を計算すると<br>
            $20a-22=0$<br>
            $20a=22$<br><br>

            よって、$a=(5)\underline{&emsp;&emsp;}$となる。<br>
            また、$[2]$に$a=(5)\underline{&emsp;&emsp;}$を代入すると、
            <!-- $10b+70a-72 = 0$<br> $a$の値を代入)$10b+70×(5)\underline{&emsp;&emsp;}-72 = 0$<br> 整数をまとめて式を簡単に)$10b+5 = 0$<br> よって、 -->
            $b=(6)\underline{&emsp;&emsp;}$となる。<br><br>
            したがって、$a=(5)\underline{&emsp;&emsp;}$,$b=(6)\underline{&emsp;&emsp;}$となる。<br><br>
            よって、「データの関係を表すための直線」は$f(x)=(5)\underline{&emsp;&emsp;}x+((6)\underline{&emsp;&emsp;})$となる。<br><br>
            次の選択肢から、この$(7)\underline{「データの関係を表すための直線」を選んでください。}$<br><br>
            <br>

            <div class="img-yokolist">
              <%= link_to image_tag "pro2.1.png", class: 'img' %>
              <%= link_to image_tag "pro2.2.png", class: 'img left' %>
            </div>
            <div class="img-yokolist">
              <%= link_to image_tag "pro2.3.png", class: 'img top' %>
              <%= link_to image_tag "pro2.4.png", class: 'img top left' %>
            </div>
            <br><br>
            次に、求めた「データの関係を表すための直線$(f(x)=1.1x-0.5)$」に基づいて、<br>
            英語の点数が4点の人の数学の点数を予測する。<br><br>
            $f(x)$に英語の点数4点を$x$に代入した値が数学の点数と予測できるので<br>
            $f(4)=1.1×(8)\underline{&emsp;&emsp;}-0.5 =(9)\underline{&emsp;&emsp;}-0.5 =(10)\underline{&emsp;&emsp;}$<br><br>
            よって、英語の点数が4点の人の数学の点数は$(10)\underline{&emsp;&emsp;}$点だと予測できる。<br>
            グラフで確認してみよう。<br><br>

            <center>
              <!-- 傾きを入力するフォームを作成 -->
              <form name="form1" id="id_form1" action="">
                <input name="textBox1" id="id_textBox1" type="text" value=""/>
                <!-- クリックされると、onButtonClick()が実行される -->
                <input class="btn btn-secondary" type="button" value="傾き a の値を決定" onclick="onButtonClick1();"/>
              </form>
            </center><br>

            <center>
              <!-- 切片を入力するフォームを作成 -->
              <form name="form2" id="id_form2" action="">
                <input name="textBox2" id="id_textBox2" type="text" value=""/>
                <!-- クリックされると、onButtonClick()が実行される -->
                <input class="btn btn-secondary" type="button" value="切片 b の値を決定" onclick="onButtonClick2();"/>
              </form>
            </center><br>

            <center>
              <!-- 英語の点数を入力するフォームを作成 -->
              <form name="form3" id="id_form3" action="">
                <input name="textBox3" id="id_textBox3" type="text" value=""/>
                <!-- クリックされると、onButtonClick()が実行される -->
                <input class="btn btn-secondary" type="button" value="英語の点数を決定" onclick="onButtonClick3(); prediction();"/>
              </form>
            </center><br>

            <center>
              <canvas id="canvas1" width="500" height="400"></canvas>
            </center>
        </div>
        <div class="padt-10"></div>
      </div>

      <div class="sub">

        <div clas="text-sub">
          <div class="pad3"></div>
          <div class="box26">
            <span class="box-title">(1)</span>
            <p>
              <input id="Radio1" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：おめでとう、正解です"/>
              <label for="Radio1">$4-(5a+b)$</label>&emsp;
              <input id="Radio2" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です"/>
              <label for="Radio2">$7-(6a+b)$</label><br>
              <input id="Radio3" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です"/>
              <label for="Radio3">$5-(4a+b)$</label>
              <input id="Radio4" name="RadioGroup1" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span1">結果：</span>
          </div>

          <div class="box26">
            <div class="box-title">(2)</div>
            <p>
              <input id="Radio5" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です"/>
              <label for="Radio5">$16-20a-8b+16a^2+10ab$</label><br>
              <input id="Radio6" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です"/>
              <label for="Radio6">$25-40a-10b+16a^2+8ab$</label><br>
              <input id="Radio4" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：おめでとう、正解です"/>
              <label for="Radio4">$16-40a-8b+25a^2+10ab$</label>
              <input id="Radio4" name="RadioGroup2" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span2">結果：</span>
          </div>

          <div id="output2"></div>

          <div class="pad8"></div>
          <div class="box26">
            <div class="box-title">(3)</div>
            <p>
              <input id="Radio8" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：残念、不正解です"/>
              <label for="Radio8">$510a+10b-526$</label><br>
              <input id="Radio7" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：おめでとう、正解です"/>
              <label for="Radio7">$510a+70b-526$</label><br>
              <input id="Radio9" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：残念、不正解です"/>
              <label for="Radio9">$510a+10b-72$</label><br>
              <input id="Radio4" name="RadioGroup3" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span3">結果：</span>
          </div>

          <div id="output3"></div>

          <div class="pad9"></div>
          <div class="box26">
            <div class="box-title">(4)</div>
            <p>
              <input id="Radio11" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：残念、不正解です"/>
              <label for="Radio11">$510a+70b-526$</label><br>
              <input id="Radio12" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：残念、不正解です"/>
              <label for="Radio12">$10b+70b-282$</label><br>
              <input id="Radio10" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：おめでとう、正解です"/>
              <label for="Radio10">$10b+70a-72$</label><br>
              <input id="Radio4" name="RadioGroup4" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span4">結果：</span>
          </div>

          <div id="output4"></div>

          <div class="pad10"></div>
          <div class="box26">
            <div class="box-title">(5)</div>
            <p>
              <input id="Radio13" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：おめでとう、正解です"/>
              <label for="Radio13">$1.1$</label>&emsp;
              <input id="Radio14" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：残念、不正解です"/>
              <label for="Radio14">$11$</label>&emsp;
              <input id="Radio15" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：残念、不正解です"/>
              <label for="Radio15">$0.11$</label><br>
              <input id="Radio4" name="RadioGroup5" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span5">結果：</span>
          </div>

          <div id="output5"></div>

          <div class="box26">
            <div class="box-title">(6)</div>
            <p>
              <input id="Radio16" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
              <label for="Radio16">$-0.5$</label>&emsp;
              <input id="Radio17" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio17">$-0.2$</label>&emsp;
              <input id="Radio18" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio18">$0.5$</label><br>
              <input id="Radio4" name="RadioGroup6" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span6">結果：</span>
          </div>

          <div id="output6"></div>


          <div class="box26">
            <div class="box-title">(7)</div>
            <p>
              <input id="Radio16" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
              <label for="Radio16">①</label>&emsp;
              <input id="Radio17" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio17">②</label>&emsp;
              <input id="Radio18" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio18">③</label>&emsp;
              <input id="Radio19" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio19">④</label><br>
              <input id="Radio4" name="RadioGroup7" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label>
            </p>
            <span id="span7">結果：</span>
          </div>

          <div id="output7"></div>

          <div class="pad12"></div>

          <div class="box26">
           <div class="box-title">(8)</div>
           <p>
             <input id="Radio17" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$5$</label>&emsp;
             <input id="Radio16" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$4$</label>&emsp;
             <input id="Radio18" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$3$</label><br>
             <input id="Radio4" name="RadioGroup8" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label>
           </p>
           <span id="span8">結果：</span>
         </div>

         <div id="output8"></div>

         <div class="box26">
           <div class="box-title">(9)</div>
           <p>
             <input id="Radio18" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$9.9$</label>&emsp;
             <input id="Radio17" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$5.5$</label>&emsp;
             <input id="Radio16" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$4.4$</label><br>
             <input id="Radio4" name="RadioGroup9" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label>
           </p>
           <span id="span9">結果：</span>
         </div>

         <div id="output9"></div>

         <div class="box26">
           <div class="box-title">(10)</div>
           <p>
             <input id="Radio17" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$4.9$</label>&emsp;
             <input id="Radio16" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$3.9$</label>&emsp;
             <input id="Radio18" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$9.4$</label><br>
             <input id="Radio4" name="RadioGroup10" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label>
           </p>
           <span id="span10">結果：</span>
         </div>

         <div id="output10"></div>
        </div>
        <!--①\{4-(5a+b)\}^2 ➁16-40a-8b+25a^2+10ab ③510a+70b-526 ④10b+70a-72 ⑤1.1 ⑥-0.5 ⑦4 4.4 3.9-->

        <div class="text-sub">
          <div class="allcheck">
            <input type="button" value="解答チェック" onclick="clickBtn1()"/><br>
            <p>
              <span id="span1_1">(1)結果：</span><br>
              <span id="span2_1">(2)結果：</span><br>
              <span id="span3_1">(3)結果：</span><br>
              <span id="span4_1">(4)結果：</span><br>
              <span id="span5_1">(5)結果：</span><br>
              <span id="span6_1">(6)結果：</span><br>
              <span id="span7_1">(7)結果：</span><br>
              <span id="span8_1">(8)結果：</span><br>
              <span id="span9_1">(9)結果：</span><br>
              <span id="span10_1">(10)結果：</span><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="padt-40"></div>
      <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="least_squares2">前へ</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares1">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">2</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                3<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item disabled">
              <a class="page-link">次へ</a>
            </li>
          </ul>
        </nav>
        <div class="padb-40"></div>
  </div>

  <!-- ページ読み込み後にリロードしてTEXを表示 -->
  <script language="JavaScript">

    if (window.name != "least_squares3") {
      location.reload();
      window.name = "least_squares3";
    }
  </script>

  <script type="text/javascript" language="javascript">

    function clickBtn1() {
      let str1 = "",
        str1_1 = "";
      let str2 = "",
        str2_1 = "";
      let str3 = "",
        str3_1 = "";
      let str4 = "",
        str4_1 = "";
      let str5 = "",
        str5_1 = "";
      let str6 = "",
        str6_1 = "";
      let str7 = "",
        str7_1 = "";
      let str8 = "",
        str8_1 = "";
      let str9 = "",
        str9_1 = "";
      let str10 = "",
        str10_1 = "";
      const RadioGroup1 = document.getElementsByName("RadioGroup1");
      for (let i = 0; i < RadioGroup1.length; i++) {

        if (RadioGroup1[0].checked == true) {
          str1 = RadioGroup1[0].value;
          str1_1 = "(1) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup1[1].checked == true) {
          str1 = RadioGroup1[1].value;
          str1_1 = "(1) 結果：×";
          break;
        } else if (RadioGroup1[2].checked == true) {
          str1 = RadioGroup1[2].value;
          str1_1 = "(1) 結果：×";
          break;

        } else if (RadioGroup1[3].checked == true) {
          str1 = RadioGroup1[3].value;
          str1_1 = "(1) 結果：わからない";
          break;

        }
      }

      const RadioGroup2 = document.getElementsByName("RadioGroup2");
      for (let i = 0; i < RadioGroup2.length; i++) {

        if (RadioGroup2[2].checked === true) {
          str2 = RadioGroup2[2].value;
          str2_1 = "(2) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup2[1].checked == true) {
          str2 = RadioGroup2[1].value;
          str2_1 = "(2) 結果：×";
          break;
        } else if (RadioGroup2[0].checked == true) {
          str2 = RadioGroup2[0].value;
          str2_1 = "(2) 結果：×";
          break;
        } else if (RadioGroup2[3].checked == true) {
          str2 = RadioGroup2[3].value;
          str2_1 = "(2) 結果：わからない";
          break;

        }

      }

      const RadioGroup3 = document.getElementsByName("RadioGroup3");
      for (let i = 0; i < RadioGroup3.length; i++) {

        if (RadioGroup3[1].checked === true) {
          str3 = RadioGroup3[1].value;
          str3_1 = "(3) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup3[0].checked == true) {
          str3 = RadioGroup3[0].value;
          str3_1 = "(3) 結果：×";
          break;
        } else if (RadioGroup3[2].checked == true) {
          str3 = RadioGroup3[2].value;
          str3_1 = "(3) 結果：×";
          break;
        } else if (RadioGroup3[3].checked == true) {
          str3 = RadioGroup3[3].value;
          str3_1 = "(3) 結果：わからない";
          break;
        }

      }

      const RadioGroup4 = document.getElementsByName("RadioGroup4");
      for (let i = 0; i < RadioGroup4.length; i++) {

        if (RadioGroup4[2].checked === true) {
          str4 = RadioGroup4[2].value;
          str4_1 = "(4) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup4[1].checked == true) {
          str4 = RadioGroup4[1].value;
          str4_1 = "(4) 結果：×";
          break;
        } else if (RadioGroup4[0].checked == true) {
          str4 = RadioGroup4[0].value;
          str4_1 = "(4) 結果：×";
          break;
        } else if (RadioGroup4[3].checked == true) {
          str4 = RadioGroup4[3].value;
          str4_1 = "(4) 結果：わからない";
          break;
        }

      }

      const RadioGroup5 = document.getElementsByName("RadioGroup5");
      for (let i = 0; i < RadioGroup5.length; i++) {

        if (RadioGroup5[0].checked === true) {
          str5 = RadioGroup5[0].value;
          str5_1 = "(5) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup5[1].checked == true) {
          str5 = RadioGroup5[1].value;
          str5_1 = "(5) 結果：×";
          break;
        } else if (RadioGroup5[2].checked == true) {
          str5 = RadioGroup5[2].value;
          str5_1 = "(5) 結果：×";
          break;
        } else if (RadioGroup5[3].checked == true) {
          str5 = RadioGroup5[3].value;
          str5_1 = "(5) 結果：わからない";
          break;
        }

      }

      const RadioGroup6 = document.getElementsByName("RadioGroup6");
      for (let i = 0; i < RadioGroup6.length; i++) {

        if (RadioGroup6[0].checked === true) {
          str6 = RadioGroup6[0].value;
          str6_1 = "(6) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup6[1].checked == true) {
          str6 = RadioGroup6[1].value;
          str6_1 = "(6) 結果：×";
          break;
        } else if (RadioGroup6[2].checked == true) {
          str6 = RadioGroup6[2].value;
          str6_1 = "(6) 結果：×";
          break;
        } else if (RadioGroup6[3].checked == true) {
          str6 = RadioGroup6[3].value;
          str6_1 = "(6) 結果：わからない";
          break;
        }
      }

      const RadioGroup7 = document.getElementsByName("RadioGroup7");
      for (let i = 0; i < RadioGroup7.length; i++) {

        if (RadioGroup7[0].checked === true) {
          str7 = RadioGroup7[0].value;
          str7_1 = "(7) 結果：○";
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup7[1].checked == true) {
          str7 = RadioGroup7[1].value;
          str7_1 = "(7) 結果：×";
          break;
        } else if (RadioGroup7[2].checked == true) {
          str7 = RadioGroup7[2].value;
          str7_1 = "(7) 結果：×";
          break;

        } else if (RadioGroup7[3].checked == true) {
          str7 = RadioGroup7[3].value;
          str7_1 = "(7) 結果：×";
          break;

        } else if (RadioGroup7[4].checked == true) {
          str7 = RadioGroup7[4].value;
          str7_1 = "(7) 結果：わからない";
          break;

        }

      }

      const RadioGroup8 = document.getElementsByName("RadioGroup8");
     for (let i = 0; i < RadioGroup8.length; i++) {

       if (RadioGroup8[1].checked === true) {
         str8 = RadioGroup8[1].value;
         str8_1 = "(8) 結果：○";
         break;
         //target.innerHTML = "おめでとう、正解です";
       } else if (RadioGroup8[2].checked == true) {
         str8 = RadioGroup8[2].value;
         str8_1 = "(8) 結果：×";
         break;
       } else if (RadioGroup8[0].checked == true) {
         str8 = RadioGroup8[0].value;
         str8_1 = "(8) 結果：×";
         break;

       }else if (RadioGroup8[3].checked == true) {
         str8 = RadioGroup8[3].value;
         str8_1 = "(8) 結果：わからない";
         break;

       }

     }

     const RadioGroup9 = document.getElementsByName("RadioGroup9");
     for (let i = 0; i < RadioGroup9.length; i++) {

       if (RadioGroup9[2].checked === true) {
         str9 = RadioGroup9[2].value;
         str9_1 = "(9) 結果：○";
         break;
         //target.innerHTML = "おめでとう、正解です";
       } else if (RadioGroup9[0].checked == true) {
         str9 = RadioGroup9[0].value;
         str9_1 = "(9) 結果：×";
         break;
       } else if (RadioGroup9[1].checked == true) {
         str9 = RadioGroup9[1].value;
         str9_1 = "(9) 結果：×";
         break;

       }else if (RadioGroup9[3].checked == true) {
         str9 = RadioGroup9[3].value;
         str9_1 = "(9) 結果：わからない";
         break;

       }

     }

     const RadioGroup10 = document.getElementsByName("RadioGroup10");
     for (let i = 0; i < RadioGroup10.length; i++) {

       if (RadioGroup10[1].checked === true) {
         str10 = RadioGroup10[1].value;
         str10_1 = "(10) 結果：○";
         break;
         //target.innerHTML = "おめでとう、正解です";
       } else if (RadioGroup10[0].checked == true) {
         str10 = RadioGroup10[0].value;
         str10_1 = "(10) 結果：×";
         break;
       } else if (RadioGroup10[2].checked == true) {
         str10 = RadioGroup10[2].value;
         str10_1 = "(10) 結果：×";
         break;

       }else if (RadioGroup10[3].checked == true) {
         str10 = RadioGroup10[3].value;
         str10_1 = "(10) 結果：わからない";
         break;

       }

     }

      document.getElementById("span1").textContent = str1;
      document.getElementById("span1_1").textContent = str1_1;
      document.getElementById("span2").textContent = str2;
      document.getElementById("span2_1").textContent = str2_1;
      document.getElementById("span3").textContent = str3;
      document.getElementById("span3_1").textContent = str3_1;
      document.getElementById("span4").textContent = str4;
      document.getElementById("span4_1").textContent = str4_1;
      document.getElementById("span5").textContent = str5;
      document.getElementById("span5_1").textContent = str5_1;
      document.getElementById("span6").textContent = str6;
      document.getElementById("span6_1").textContent = str6_1;
      document.getElementById("span7").textContent = str7;
      document.getElementById("span7_1").textContent = str7_1;
      document.getElementById("span8").textContent = str8;
      document.getElementById("span8_1").textContent = str8_1;
      document.getElementById("span9").textContent = str9;
      document.getElementById("span9_1").textContent = str9_1;
      document.getElementById("span10").textContent = str10;
      document.getElementById("span10_1").textContent = str10_1;
    }
  </script>

  <script src="https://frogcat.github.io/canvas-arrow/canvas-arrow.js"></script>

  <script type="text/javascript">
    // canvas要素のDOMオブジェクトを取得
    var canvas = document.getElementById("canvas1");

    // canvasの位置指定（左上基準）
    canvas.style.position = "relative";
    // canvas.style.left = "100px"; canvas.style.top = "100px"; 描画コンテキストを取得する
    var context = canvas.getContext("2d");

    var mousex = 0;
    var mouseX = 0;
    var mousey = 0;
    var mouseY = 0;

    // canvas内での軸の位置指定
    var st_X = 90;
    var st_Y = 50;

    // 切片
    var b = 0.2 * 30;

    // 傾き
    var a = 1.1;

    // 英語のテストの点数
    var v = 0;

    // 指定した英語の点数のX座標
    var x = 0;

    // X軸のY座標
    var y = canvas.height - st_Y;

    // アニメーションを起動させるためのカウント
    var count = 0;

    var text = "数学";

    function onButtonClick1() {
      // DOMを取得
      a = parseFloat(document.forms.id_form1.id_textBox1.value);
    }

    function onButtonClick2() {
      // DOMを取得
      b = parseFloat(document.forms.id_form2.id_textBox2.value) * 30;
    }

    function onButtonClick3() {
      // DOMを取得
      v = parseFloat(document.forms.id_form3.id_textBox3.value) * 30;
    }

    // マウスの位置を取得
    function movehandler(event) {
      // canvas基準のマウスの位置
      mousex = event.offsetX;
      mousey = event.offsetY;
    }
    window.onmousemove = movehandler;

    // マウスの位置を取得

    function en(circle_x, circle_y) {
      // 円と同じx座標と直線の交点のy座標
      var c_X = a * circle_x * 30 + parseInt(b);

      // 描画する位置を返還
      var circle_X = circle_x * 30 + st_X;
      var circle_Y = canvas.height - circle_y * 30 - st_Y;

      context.beginPath();
      context.fillStyle = "rgb(0, 0, 255)";

      context.arc(circle_X, circle_Y, 5, 0, 2 * Math.PI);

      context.fill();

      // strokeメソッドで描画コンテキストに記録されたパスをCanvasに描画
      context.stroke();
    }

    var tategaki = function (context, text, x, y) {
      var textList = text.split('\n');
      var lineHeight = context.measureText("あ").width;
      textList.forEach(function (elm, i) {
        Array.prototype.forEach.call(elm, function (ch, j) {
          context.fillText(ch, x - lineHeight * i, y + lineHeight * j);
        });
      });
    };

    function roundFloat(number, n) {
      var _pow = Math.pow(10, n);
      return Math.round(number * _pow) / _pow;
    }

    // 英語の点数を決定するボタンを押したときに実行される関数
    function prediction() {
      count = 1;
      // ボタンが押されたときにY座標を初期化して描画位置を戻す
      y = canvas.height - st_Y;
    }

    function set() {
      x = st_X + v;

      // Y座標を動かす
      y = y - 4;

      // 白でcanvasを塗る
      context.fillStyle = "rgb(255, 255, 255)";
      context.fillRect(0, 0, canvas.width, canvas.height);

      // 軸基準のマウスの位置
      mouseX = mousex - st_X;
      mouseY = canvas.height - mousey - st_Y - b;

      // 直線の傾き
      inclination = mouseY / mouseX;

      c = b / 3;

      // beginPathメソッドを呼び出すことで、描画コンテキストへのパスの記録が開始され、図形を書くことができる。
      context.beginPath();
      context.strokeStyle = "rgb(0, 0, 0)";
      // moveToメソッドによって、指定した点まで移動する。 現在の点から指定した点までの線分を定義する。 直線の軌跡
      context.setLineDash([0]);
      context.moveTo(st_X, canvas.height - st_Y - b);
      context.lineTo(st_X + 100 * 3, canvas.height -  a * 100 * 3 - b - st_Y);

      context.stroke();

      en(5, 4);
      en(6, 7);
      en(7, 9);
      en(8, 6);
      en(9, 10);

      // 英語の点数を決定するボタンを押すと、
      if (count == 1) {

        context.setLineDash([2, 2]);
        context.beginPath();
        context.moveTo(x, canvas.height - st_Y);

        if(y > canvas.height - st_Y - b - a * v) {
          context.lineTo(x, y);
          context.stroke();
        } else {
          context.moveTo(x, canvas.height - st_Y);
          context.lineTo(x, canvas.height - st_Y - b - a * v);

          context.moveTo(x, canvas.height - st_Y - b - a * v);
          context.fillStyle = "rgb(255, 0, 0)";
          context.arc(x, canvas.height - st_Y - b - a * v, 5, 0, 2 * Math.PI);
          context.fill();

          context.moveTo(x, canvas.height - st_Y - b - a * v);
          context.lineTo(st_X, canvas.height - st_Y - b - a * v);

          context.arc(st_X, canvas.height - st_Y - b - a * v, 5, 0, 2 * Math.PI);
          context.fill();
        }
        context.stroke();

        context.beginPath();
        context.fillStyle = "rgb(255, 0, 0)";
        context.arc(x, canvas.height - st_Y, 5, 0, 2 * Math.PI);
        context.fill();
      }

      context.font = "bold 14px 'ＭＳ 明朝'";

      context.beginPath();
      context.fillStyle = "rgb(0, 0, 0)";

      context.fillText("2", st_X + 20 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("4", st_X + 40 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("6", st_X + 60 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("8", st_X + 80 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("10", st_X + 100 * 3 - 6, canvas.height - st_Y + 20);


      context.fillText("2", st_X - 20, canvas.height - st_Y - 20 * 3 + 5);
      context.fillText("4", st_X - 20, canvas.height - st_Y - 40 * 3 + 5);
      context.fillText("6", st_X - 20, canvas.height - st_Y - 60 * 3 + 5);
      context.fillText("8", st_X - 20, canvas.height - st_Y - 80 * 3 + 5);
      context.fillText("10", st_X - 20 - 5, canvas.height - st_Y - 100 * 3 + 5);

      context.fillText("O", st_X - 15, canvas.height - st_Y + 15);

      context.fillText("英語(点)", canvas.width / 2 - 40, canvas.height - st_Y + 40);
      tategaki(context, text, st_X - 60, canvas.height / 2);
      context.fillText("(点)", st_X - 60 - 10, canvas.height / 2 + 30);

      // if ((0 < mouseX && mousex < canvas.width - 130) && (0 < mousey && mousey < canvas.height)) { if (roundFloat(inclination, 2) == 0) { context.fillText("f(x) = " + c, parseInt(mousex) + 10, mousey); } else if (roundFloat(inclination, 2) == 1) {
      // context.fillText("f(x) = x + " + c, parseInt(mousex) + 10, mousey); } else if (roundFloat(inclination, 2) == -1) { context.fillText("f(x) = -x + " + c, parseInt(mousex) + 10, mousey); } else if (b == 0) { context.fillText("f(x) = " +
      // roundFloat(inclination, 2) + "x", parseInt(mousex) + 10, mousey); } else { context.fillText("f(x) = " + roundFloat(inclination, 2) + "x + " + c, parseInt(mousex) + 10, mousey); } } 矢印の軌跡
      context.arrow(st_X, canvas.height - st_Y, canvas.width - st_X / 2, canvas.height - st_Y, [
        0,
        1,
        -15,
        1,
        -15,
        5
      ]);
      context.arrow(st_X, canvas.height - st_Y, st_X, st_Y - 30, [
        0,
        1,
        -15,
        1,
        -15,
        5
      ]);
      context.fill();
    }

    onload = function () {
      setInterval(set, 30);
    }
  </script>
