<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "最小二乗法") %>

  <div class="all">

    <div class="title">最小二乗法</div>

    <div class="column">
      <div class="main">

        <div class="caption">はじめに</div>

        <div class="text">

          <div class="topSpace"></div>
          突然ですがみなさん
          <div class="box">
            <p>1年生の必修科目として大学で数学を学んでいるけど、将来本当に必要なの？</p>
            <p>数学を学ぶ意味がわからない!</p>
          </div>
          などなど、今ままで数学を学んできてそんな事を疑問に思ったことはありませんか？ そこで、ここでは実際に世の中で使われている数学の1つとして「最小二乗法」というものを紹介します。<br>

          最小二乗法を用いると、<br>
          <div class="padl-10">

            ・既存の顧客情報 から 売上の予測<br>
            ・天気や気温情報 から 来店者数の予測<br>
            ・過去の株価情報 から 株価の予測<br>
            ・喫煙の年数 から 肺がんの有無<br>
            ・身長の情報 から 体重の予測<br>
            といった「変動予測」に役立ちます。<br>

          </div>
          といった<span style="font-size: 30px;">「変動予測」</span>に役立ちます。<br>

          最小二乗法とは、次の表データ（6人の身長と体重のデータ）から以下の図のような「データの関係を表すための線」を求める方法です。
          <div class="topSpace"></div>
          <table border="border" width="240" height="240">
            <tr>
              <td></td>
              <td>身長</td>
              <td>体重</td>
            </tr>
            <tr>
              <td>1</td>
              <td>116.5($=x_1$)</td>
              <td>21.3($=y_1$)</td>
            </tr>
            <tr>
              <td>2</td>
              <td>125.5($=x_2$)</td>
              <td>22.0($=y_2$)</td>
            </tr>
            <tr>
              <td>3</td>
              <td>128.1($=x_3$)</td>
              <td>26.9($=y_3$)</td>
            </tr>
            <tr>
              <td>4</td>
              <td>132.0($=x_4$)</td>
              <td>32.3($=y_4$)</td>
            </tr>
            <tr>
              <td>5</td>
              <td>141.0($=x_5$)</td>
              <td>33.1($=y_5$)</td>
            </tr>
            <tr>
              <td>6</td>
              <td>145.2($=x_6$)</td>
              <td>38.2($=y_6$)</td>
            </tr>
          </table>

          ↓この表データをグラフに表示すると…<br>

          <br><br><%= link_to image_tag("pic1.1.png") %><%= link_to image_tag("pic1.2.png") %><br><br>
          このデータの関係を表すための関数(身長と体重の関係を表す関数)を求めることが出来れば、身長から体重を予測することが出来ます。 例えば、身長が138cmの人の体重をこの直線を用いて予測してみましょう。
          <br><br>
          <iframe
            src="https://docs.google.com/presentation/d/e/2PACX-1vRlte2h-hp65_isfpo82ggSkUZhvXuv-8UM2yN4jTXAfeCFMBla6g-qedeLaSaq0pjGjEj6tRlebMD7/embed?start=true&loop=true&delayms=1000"
            frameborder="0"
            width="480"
            height="300"
            allowfullscreen="true"
            mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe><br><br>

          スライドから、身長が138cmの人は、体重がおおよそ33kgであることが予測できます。
        </div>

        <div class="caption">最小二乗法とは</div>
        <div class="topSpace"></div>
        <div class="text">
          ここではより詳しく最小二乗法について説明します。 最小二乗法とは、「誤差の二乗和が最小となる関数$f(x)$(データの関係を表すための関数)」を求める方法です。 データ$(p,q)$をグラフ上に表した点$(p,q)$の誤差は、$q$から関数$f(p)$を引いたものです。 例えば、下の図でいうとデータ$(x_4,y_4)$の誤差は$y_4-f(x_4)$です。
          <br><br><%= link_to image_tag("pic2.png") %><br><br>
          ※青い点は実際のデータ、赤い線は関数f(x)、↔は誤差<br>
          最小二乗法では「データの関係を表す<b>曲線</b>」を求めることも出来ますが、前述した通り複雑で分かりにくいので、 今回は「データの関係を表す<b>直線</b>」を求める方法に限定して簡単に説明します。直線(f(x)=ax+b)は傾きaと切片bを求めることで1つに決まるので、 誤差が最小となるようなa,bを求めることを目標にします。

          <br><br><%= link_to image_tag("pic3.png") %><br><br>

          上の図のように誤差が最小となる直線を引くためにはどのようにすればよいでしょう。 実際に傾き$a$と切片$b$の値を変えて確認してみましょう。<br><br>
          <iframe
            src="https://docs.google.com/presentation/d/e/2PACX-1vTIWv7RoUWfQzAwm3iBGpavqe973BkN0_qmoj8UfRcIscYtU2UL6gK6V5fQf9keZjrx86ZOrp64rPrA/embed?start=true&loop=true&delayms=1000"
            frameborder="0"
            width="480"
            height="300"
            allowfullscreen="true"
            mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe><br><br>
          ①は$a=0.2, b=16$ ②は$a=0.6, b=16$ ③は$a=0.6,b=-50$でした。<br>
          スライドを見ると、$a,b$を変えることによって誤差も変わることが分かります。 $a,b$を変えることで誤差を最小に出来ると考えられます。 誤差を小さくするということは、各データの誤差の和を小さくするということです。 しかし、誤差(↔)をそのまま足すと、正負が混合している場合、誤差の和が0になることがあります。 下の図のように誤差の和が0で最小なのにも関わらず、この直線は「データの関係を表す」直線ではないことが見てわかります。
          <br><br><%= link_to image_tag("pic4.png") %><br><br>
          そこで、負の数をなくすために誤差を二乗して、正の数にします。 データの数を$n$個として、誤差の二乗和を$E(a,b)$とすると次のように表せます。<br>
          $E(a,b)$ = (1番目のデータの誤差)$^2$+(2番目のデータの誤差)$^2$+…+($n$番目のデータの誤差)$^2$ となります。例えば、4番目のデータの誤差に注目すると
          <br><br><%= link_to image_tag("pic5.png") %><br><br>
          誤差の式は$y_4-(ax_4+b)$となります。 なので、$x$が$i$番目のときに注目すると誤差の式は$y_i-(ax_i+b)$となります。 つまり、誤差の二乗和$E(a,b)$は $E(a,b)= \{y_1-(ax_1+b)\}^2+\{y_2-(ax_2+b)\}^2+…+\{y_n-(ax_n+b)\}^2$ $E(a,b)=\sum_{i=1}^{n} \{y_i-(ax_i+b)\}^2$&emsp;(nはデータ数) となります。関数$E$を展開すると、
          <div class="hidden_box2">
            <label for="label2">
              <b>展開の途中式</b>
            </label>
            <input type="checkbox" id="label2"/>
            <div class="hidden_show2">
              <!--非表示ここから-->
              <div class="text">
                <p>$E(a,b)=\sum_{i=1}^{n} \{y_i-(ax_i+b)\}^2$</p>
                <p>$E(a,b)=\sum_{i=1}^{n} \{y_i^2-2(ax_i+b)y_i+(ax_i+b)^2\}$</p>
              </div>
              <!--ここまで-->
            </div>
          </div>
          $E(a,b)=\sum_{i=1}^{n} (y_i^2-2ax_iy_i-2by_i+a^2x_i^2+2abx_i+b^2)$ となります。 この関数$E(a,b)$を図に表すと$E(a,b)$は二変数の関数であるため、$Z=E(a,b)$とすると下の図のようになります。
          <br><br><%= link_to image_tag("pic6.png") %><br><br>
          この関数の最小値を考えるために上の図のグラフを$a、b$を定数として、切ったときの断面図をそれぞれ見てみましょう。
          <br><br><%= link_to image_tag("pic7.png") %><br><br>
          $b$をある定数だとしたときの関数$E(a,b)$を考えると、ある$b$で切った時の断面図(上図)になります。 一変数で下に凸の二次関数は傾きが0の時に最小値となります。 同じようにして$E(a,b)$を考えると、「$b$をある定数だとして、傾きが0になる時」に最小値となることが分かります。
          <br><br><%= link_to image_tag("pic8.png") %><br><br>
          関数$E(a,b)$を$ｂ$軸方向から見ても、上の図のように平面のグラフとして扱えます。 $a$軸方向から見た時と同様に、$b$で微分して0となるときに最小となることがわかります。
          <br><br><%= link_to image_tag("pic9.png") %><br><br>
          上の図のように$a$軸方向から見ても$b$軸方向から見ても最小の時に、関数$E(a,b)$全体としても最小となります。<br>
          なので、関数$E(a,b)$を$a$で微分したものと関数$E(a,b)$を$b$で微分したものがともに0となる$（a,b）$を見つけます。<br><br>
          ここで、二変数の関数を微分する方法を紹介します。二変数の関数の微分の方法といっても一変数の時とあまり違いはありません。<br>
          例えば、関数$E(a,b)$を$a$で微分したいときは$b$を定数だと考えて一変数の時と同じように微分をすることが出来ます。 実際に関数$E(a,b)$を$a$で微分したものと関数$E(a,b)$を$b$で微分したものを計算して最小値をとる$(a,b)$を求めてみましょう。<br><br>
          関数$E(a,b)$を$a$で微分すると$(E(a,b)$の式を忘れた人は
          <span class="hidden_box2">
            <label for="label3">ここを</label>
            クリック！)
            <input type="checkbox" id="label3"/>
            <div class="hidden_show2">
              <!--非表示ここから-->
              <span class="text">$E(a,b)=\sum_{i=1}^{n} (y_i^2-2ax_iy_i-2by_i+a^2x_i^2+2abx_i+b^2)$</span>
              <!--ここまで-->
            </div>
          </span>
          $($関数$E(a,b)$を$a$で微分$)=\sum_{i=1}^{n} (-2x_iy_i+2ax_i^2+2bx_i)$<br><br>
          関数$E(a,b)$を$b$で微分すると<br>

          $($関数$E(a,b)$を$b$で微分$)=\sum_{i=1}^{n} (-2y_i+2ax_i+2b)$<br>
          となります。<br><br>
          上の2式に対して連立方程式をたてると $\begin{eqnarray} \begin{cases} \sum_{i=1}^{n} (-2x_iy_i+2ax_i^2+2bx_i)=0 & \\ \sum_{i=1}^{n} (-2y_i+2ax_i+2b)=0 & \end{cases} \end{eqnarray}$ となり、この連立方程式を解くと、 極小値となる$a$と$b$が求めることができます。<br><br>
          誤差の二乗和が最小となる傾き$a$,切片$b$が求められたので、「データの関係を表すための直線」の式$(f(x)=ax+b)$が得られます。<br>
        </div>

        <div class="caption">実際にやってみよう</div>
        <div class="text">
          <div class="caption2">問題1:</div>

          $f(x)=x^2-3=0$の解$(\sqrt{3})$を実際にニュートン法で求めてみる。<br>

          <div class="padl-10">
            ・初期値を$x_0=$とする。<br>
            ・$x_0=2,f(x_0)=1$より$(2,1)$での接線を求める。<br>
          </div>
          $f' (x)=①\underline{}$より$f' (x_0)=4$<br>
          よって、接線は$y=4(x-②\underline{})+③\underline{}$<br>
          Ans,$y=④\underline{}$<br>
          ・この接線と$x$軸との交点$x_1$を求める。<br>
          $x$軸との交点なので$y=0$<br>
          したがって,$0=④\underline{}$を解いて$x=⑤\underline{}$<br>
          よって、$x_1=⑤\underline{}$<br>
          ・$x_1=⑤\underline{},f(x_1)=0.0625$より$(1.75,0.0625)$での接線を求める。<br>
          $f' (x)=①\underline{}$より、$f' (x_1)=3.5$<br>
          よって、接線は$y=3.5(x-1.75)+0.0625$<br>
          Ans,$y=3.5x-6.0625$<br>
          ・この接線と$x$軸との交点$x_2$を求める。<br>
          $x$軸との交点なので$y=0$<br>
          したがって、$0=3.5x_2-6.0625$を解いて<br>
          $x_2=1.732142857142857$<br>
          よって、$x_2=⑥\underline{}142857142857$<br>
          ・真の値$\sqrt{3}=⑥\underline{}050807568877...$と比べて見ても<br>
          $4$桁ほど一致する。<br>
        </div>
        <div class="padt-10"></div>
      </div>

      <div class="sub">
        <%# <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;"> %>

          <div class="text-sub">
            <div class="hidden_box">
              <label for="label1">なぜ曲線ではなく直線？</label>
              <input type="checkbox" id="label1"/>
              <div class="hidden_show">
                <!--非表示ここから-->
                <div class="text">
                  <p>なぜ曲線ではなくて直線？ ここで直線より曲線の方が、よりデータとの関係を表すための関数を求めることができると思った方もいるかもしれません。 たしかに、曲線の方が、よりデータとの関係を表すための関数を求めることができるかもしれません。 しかし、最小二乗法を用いて曲線を求めようとすると、直線を求める時よりも関数が複雑になるので計算が難しくなります。 なので、このサイトでは計算が簡単な直線を求める方法について考えることとします。</p>
                </div>
                <!--ここまで-->
              </div>
            </div>
          </div>

          <div class="text-sub">
            <br><br>$f(a,b)=a^2+ab$<br>
            $a$で偏微分すると $\frac{\partial f(a,b)}{\partial a}=2a+b$ $b$で偏微分すると $\frac{\partial f(a,b)}{\partial b}=a$
          </div>

          <div clas="text-sub">
            <div class="box26">
              <span class="box-title">①</span>
              <p>
                <input id="Radio1" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
                <label for="Radio1">$2x$</label>&emsp;
                <input id="Radio2" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
                <label for="Radio2">$2x-3$</label>&emsp;
                <input id="Radio3" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
                <label for="Radio3">$x$</label>
              </p>
              <div id="output1">結果：</div>
            </div>

            <div class="text">②</div>
            <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
              <input id="Radio4" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
              <label for="Radio4">$2$</label>&emsp;
              <input id="Radio5" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
              <label for="Radio5">$2x-3$</label>&emsp;
              <input id="Radio6" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
              <label for="Radio6">$x$</label>
            </div>

            <div id="output2"></div><br>
            <div class="text">③</div>
            <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
              <input id="Radio7" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
              <label for="Radio7">$1$</label>&emsp;
              <input id="Radio8" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
              <label for="Radio8">$2x-3$</label>&emsp;
              <input id="Radio9" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
              <label for="Radio9">$x$</label>
            </div>

            <div id="output3"></div><br>
            <div class="text">④</div>
            <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
              <input id="Radio10" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
              <label for="Radio10">$4x-7$</label>&emsp;
              <input id="Radio11" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
              <label for="Radio11">$2x-3$</label>&emsp;
              <input id="Radio12" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
              <label for="Radio12">$x$</label>
            </div>

            <div id="output4"></div><br>
            <div class="text">⑤</div>
            <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
              <input id="Radio13" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
              <label for="Radio13">$1.75$</label>&emsp;
              <input id="Radio14" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
              <label for="Radio14">$2x-3$</label>&emsp;
              <input id="Radio15" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
              <label for="Radio15">$x$</label>
            </div>

            <div id="output5"></div><br>
            <div class="text">⑥</div>
            <div style="display:inline-block; background:#fcfcff; padding:12px; border:1px solid #3b5998; border-radius:8px; word-break:break-all;">
              <input id="Radio16" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
              <label for="Radio16">$1.732$</label>&emsp;
              <input id="Radio17" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
              <label for="Radio17">$2x-3$</label>&emsp;
              <input id="Radio18" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
              <label for="Radio18">$x$</label>
            </div>

            <div id="output6"></div><br>
          </div>

          <input type="button" value="解答チェック" onclick="clickBtn1()"/>

        </div>
      </div>
    </div>

    <!-- ページ読み込み後にリロードしてTEXを表示 -->
    <script language="JavaScript">

      if (window.name != "newton") {
        location.reload();
        window.name = "newton";
      }
    </script>

    <script type="text/javascript" language="javascript">

      function onRadioButtonChange1() {
        radiobtn1 = document.getElementById("Radio1");
        radiobtn2 = document.getElementById("Radio2");
        radiobtn3 = document.getElementById("Radio3");

        target = document.getElementById("output1");

        if (radiobtn1.checked == true) {
          target.innerHTML = "結果：おめでとう、正解です";
        } else if (radiobtn2.checked == true) {
          target.innerHTML = "結果：残念、不正解です";
        } else if (radiobtn3.checked == true) {
          target.innerHTML = "結果：残念、不正解です";
        }
      }
      function onRadioButtonChange2() {
        radiobtn4 = document.getElementById("Radio4");
        radiobtn5 = document.getElementById("Radio5");
        radiobtn6 = document.getElementById("Radio6");

        target = document.getElementById("output2");

        if (radiobtn4.checked == true) {
          target.innerHTML = "おめでとう、正解です";
        } else if (radiobtn5.checked == true) {
          target.innerHTML = "残念、不正解です";
        } else if (radiobtn6.checked == true) {
          target.innerHTML = "残念、不正解です";
        }
      }
      function onRadioButtonChange3() {
        radiobtn7 = document.getElementById("Radio7");
        radiobtn8 = document.getElementById("Radio8");
        radiobtn9 = document.getElementById("Radio9");

        target = document.getElementById("output3");

        if (radiobtn7.checked == true) {
          target.innerHTML = "おめでとう、正解です";
        } else if (radiobtn8.checked == true) {
          target.innerHTML = "残念、不正解です";
        } else if (radiobtn9.checked == true) {
          target.innerHTML = "残念、不正解です";
        }
      }
      function onRadioButtonChange4() {
        radiobtn10 = document.getElementById("Radio10");
        radiobtn11 = document.getElementById("Radio11");
        radiobtn12 = document.getElementById("Radio12");

        target = document.getElementById("output4");

        if (radiobtn10.checked == true) {
          target.innerHTML = "おめでとう、正解です";
        } else if (radiobtn11.checked == true) {
          target.innerHTML = "残念、不正解です";
        } else if (radiobtn12.checked == true) {
          target.innerHTML = "残念、不正解です";
        }
      }
      function onRadioButtonChange5() {
        radiobtn13 = document.getElementById("Radio13");
        radiobtn14 = document.getElementById("Radio14");
        radiobtn15 = document.getElementById("Radio15");

        target = document.getElementById("output5");

        if (radiobtn13.checked == true) {
          target.innerHTML = "おめでとう、正解です";
        } else if (radiobtn14.checked == true) {
          target.innerHTML = "残念、不正解です";
        } else if (radiobtn15.checked == true) {
          target.innerHTML = "残念、不正解です";
        }

        function clickBtn1() {
          let str1 = "";
          let str2 = "";
          let str3 = "";
          let str4 = "";
          let str5 = "";
          let str6 = "";
          const RadioGroup1 = document.getElementsByName("RadioGroup1");
          for (let i = 0; i < RadioGroup1.length; i++) {

            if (RadioGroup1[0].checked === true) {
              str1 = RadioGroup1[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup1[1].checked == true) {
              str1 = RadioGroup1[1].value;
              break;
            } else if (RadioGroup1[2].checked == true) {
              str1 = RadioGroup1[2].value;
              break;

            }

          }

          const RadioGroup2 = document.getElementsByName("RadioGroup2");
          for (let i = 0; i < RadioGroup2.length; i++) {

            if (RadioGroup2[0].checked === true) {
              str2 = RadioGroup2[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup2[1].checked == true) {
              str2 = RadioGroup2[1].value;
              break;
            } else if (RadioGroup2[2].checked == true) {
              str2 = RadioGroup2[2].value;
              break;
            }

          }

          const RadioGroup3 = document.getElementsByName("RadioGroup3");
          for (let i = 0; i < RadioGroup3.length; i++) {

            if (RadioGroup3[0].checked === true) {
              str3 = RadioGroup3[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup3[1].checked == true) {
              str3 = RadioGroup3[1].value;
              break;
            } else if (RadioGroup3[2].checked == true) {
              str3 = RadioGroup3[2].value;
              break;
            }

          }

          const RadioGroup4 = document.getElementsByName("RadioGroup4");
          for (let i = 0; i < RadioGroup4.length; i++) {

            if (RadioGroup4[0].checked === true) {
              str4 = RadioGroup4[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup4[1].checked == true) {
              str4 = RadioGroup4[1].value;
              break;
            } else if (RadioGroup4[2].checked == true) {
              str4 = RadioGroup4[2].value;
              break;
            }

          }

          const RadioGroup5 = document.getElementsByName("RadioGroup5");
          for (let i = 0; i < RadioGroup5.length; i++) {

            if (RadioGroup5[0].checked === true) {
              str5 = RadioGroup5[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup5[1].checked == true) {
              str5 = RadioGroup5[1].value;
              break;
            } else if (RadioGroup5[2].checked == true) {
              str5 = RadioGroup5[2].value;
              break;
            }

          }

          const RadioGroup6 = document.getElementsByName("RadioGroup6");
          for (let i = 0; i < RadioGroup6.length; i++) {

            if (RadioGroup6[0].checked === true) {
              str6 = RadioGroup6[0].value;
              break;
              //target.innerHTML = "おめでとう、正解です";
            } else if (RadioGroup6[1].checked == true) {
              str6 = RadioGroup6[1].value;
              break;
            } else if (RadioGroup6[2].checked == true) {
              str6 = RadioGroup6[2].value;
              break;
            }

          }
          document.getElementById("span1").textContent = str1;
          document.getElementById("span2").textContent = str2;
          document.getElementById("span3").textContent = str3;
          document.getElementById("span4").textContent = str4;
          document.getElementById("span5").textContent = str5;
          document.getElementById("span6").textContent = str6;
        }
    </script>
