<!-- 各ページで共通の部分を記述するためのファイル -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- 各ページで入力されたタイトルにしたがって動的にタイトルを出力 -->
    <title><%= yield(:title) %> | Math Pro</title>
    <!-- Web攻撃手法の１つであるクロスサイトリクエストフォージェリーを防ぐためのコード -->
    <%= csrf_meta_tags %>

    <!-- CSSとJavaScriptをページ内で展開するためのコード -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" }},
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
    "HTML-CSS":{ matchFontHeight: false },
    displayAlign: "left",
    displayIndent: "2em"
  });
  </script>
  <!--<script type="text/javascript" language="javascript">
    function onRadioButtonChange() {
      check1 = document.form1.Radio1.checked;
      check2 = document.form1.Radio2.checked;
      check3 = document.form1.Radio3.checked;

      target = document.getElementById("output");

      if (check1 == true) {
        target.innerHTML = "要素1がチェックされています。<br/>";
      }
      else if (check2 == true) {
        target.innerHTML = "要素2がチェックされています。<br/>";
      }
      else if (check3 == true) {
        target.innerHTML = "要素3がチェックされています。<br/>";
      }
    }
  </script>-->
  <script type="text/javascript" language="javascript">
    function onRadioButtonChange1() {
      radiobtn1 = document.getElementById("Radio1");
      radiobtn2 = document.getElementById("Radio2");
      radiobtn3 = document.getElementById("Radio3");

      target = document.getElementById("output1");

      if (radiobtn1.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn2.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn3.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange2() {
      radiobtn4 = document.getElementById("Radio4");
      radiobtn5 = document.getElementById("Radio5");
      radiobtn6 = document.getElementById("Radio6");

      target = document.getElementById("output2");

      if (radiobtn4.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn5.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn6.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
  </script>
  </head>
  <body background="images/back1.gif">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "sample", root_path, id: "logo" %>
        <nav>
          <ul class="navbar-nav ml-auto">
            <li class="navbar-text"><%= link_to "Home", root_path %></li>
            <li class="navbar-text"><%= link_to "About", about_path %></li>
            <li class="navbar-text"><%= link_to "質問", question_path %></li>
            <!-- ログインボタンの作成 -->
            <li class="navbar-text btn btn-primary"><%= link_to "ログイン", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <!-- 右寄せのナビゲーションバーを作成 -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home", root_path %></li>
          <li class="nav-item"><%= link_to "フーリエ変換", frie_path %></li>
          <li class="nav-item"><%= link_to "ニュートン法", newton_path %></li>
        </ul>
      </nav>
      <!-- 各ページの内容を出力 -->
      <%= yield %>
    </div>
  </body>
</html>
