<!-- 各ページで共通の部分を記述するためのファイル -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- 各ページで入力されたタイトルにしたがって動的にタイトルを出力 -->
    <title><%= yield(:title) %>
      | Math Pro</title>
    <!-- Web攻撃手法の１つであるクロスサイトリクエストフォージェリーを防ぐためのコード -->
    <%= csrf_meta_tags %>

    <!-- CSSとJavaScriptをページ内で展開するためのコード -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        tex2jax: {
          inlineMath: [
            [
              '$', '$'
            ],
            [
              "\\(", "\\)"
            ]
          ],
          processEscapes: true
        },
        "HTML-CSS": {
          matchFontHeight: false
        },
        displayAlign: "left",
        displayIndent: "2em"
      });
    </script>
  </head>

  <body id="FUN">
    <!-- class="sticky-top" を追加して固定 -->
    <header>
      <nav class="navbar  navbar-expand-lg">
        <ul class="global-nav navbar-nav">
          <%= link_to image_tag("マスプロロゴ.png", alt: "マスプロログ", width: "100px"), root_path %>
          <div style="margin-left: 25px; margin-top: 25px;">
            <li class="nav-item nav-link"><%= link_to "最小二乗法", least_squares_path %></li>
          </div>
        </ul>
        <ul class="global-nav navbar-nav">
          <div style="margin-left: 150px; margin-top: 25px;">
            <li class="navbar-item nav-link"><%= link_to "コンセプト", concept_path %></li>
            <li class="navbar-item nav-link" style="margin-right:10px"><%= link_to "使い方", usage_path %></li>
          </div>
        </ul>
      </nav>
    </header>
    <div id="wrap">
      <div class="all">
        <!-- 各ページの内容を出力 -->
        <%= yield %>
      </div>
    </div>
    <footer>
      <small>(C)2019 Math Pro.</small>
    </footer>
  </body>
</html>
