<!-- 各ページで共通の部分を記述するためのファイル -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- 各ページで入力されたタイトルにしたがって動的にタイトルを出力 -->
    <title><%= yield(:title) %> | Math Pro</title>
    <!-- Web攻撃手法の１つであるクロスサイトリクエストフォージェリーを防ぐためのコード -->
    <%= csrf_meta_tags %>

    <!-- CSSとJavaScriptをページ内で展開するためのコード -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        tex2jax: {
          inlineMath: [
            [
              '$', '$'
            ],
            [
              "\\(", "\\)"
            ]
          ],
          processEscapes: true
        },
        "HTML-CSS": {
          matchFontHeight: false
        },
        displayAlign: "left",
        displayIndent: "2em"
      });
    </script>
  </head>

  <script type="text/javascript" language="javascript">
    function onRadioButtonChange1() {
      radiobtn1 = document.getElementById("Radio1");
      radiobtn2 = document.getElementById("Radio2");
      radiobtn3 = document.getElementById("Radio3");

      target = document.getElementById("output1");

      if (radiobtn1.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn2.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn3.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange2() {
      radiobtn4 = document.getElementById("Radio4");
      radiobtn5 = document.getElementById("Radio5");
      radiobtn6 = document.getElementById("Radio6");

      target = document.getElementById("output2");

      if (radiobtn4.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn5.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn6.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange3() {
      radiobtn7 = document.getElementById("Radio7");
      radiobtn8 = document.getElementById("Radio8");
      radiobtn9 = document.getElementById("Radio9");

      target = document.getElementById("output3");

      if (radiobtn7.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn8.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn9.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange4() {
      radiobtn10 = document.getElementById("Radio10");
      radiobtn11 = document.getElementById("Radio11");
      radiobtn12 = document.getElementById("Radio12");

      target = document.getElementById("output4");

      if (radiobtn10.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn11.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn12.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange5() {
      radiobtn13 = document.getElementById("Radio13");
      radiobtn14 = document.getElementById("Radio14");
      radiobtn15 = document.getElementById("Radio15");

      target = document.getElementById("output5");

      if (radiobtn13.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn14.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn15.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange6() {
      radiobtn16 = document.getElementById("Radio16");
      radiobtn17 = document.getElementById("Radio17");
      radiobtn18 = document.getElementById("Radio18");

      target = document.getElementById("output6");

      if (radiobtn16.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      }
      else if (radiobtn17.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
      else if (radiobtn18.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
  </script>
  </head>
  <body background="images/back1.gif">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "sample", root_path, id: "logo" %>
        <nav>
          <ul class="navbar-nav ml-auto">
            <li class="navbar-text"><%= link_to "Home", root_path %></li>
            <li class="navbar-text"><%= link_to "About", about_path %></li>
            <li class="navbar-text"><%= link_to "質問", question_path %></li>
            <!-- ログインボタンの作成 -->
            <li class="navbar-text btn btn-primary"><%= link_to "ログイン", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <!-- 右寄せのナビゲーションバーを作成 -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home", root_path %></li>
          <li class="nav-item"><%= link_to "フーリエ変換", frie_path %></li>
          <li class="nav-item"><%= link_to "ニュートン法", newton_path %></li>
        </ul>
      </nav>
      <!-- 各ページの内容を出力 -->
      <%= yield %>
  <body id="FUN">
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand"><%= link_to "LOGO", root_path, id: "logo" %></div>
        <ul class="global-nav navbar-nav mx-auto">
          <li class="nav-item nav-link"><%= link_to "フーリエ変換", frie_path %></li>
          <li class="nav-item nav-link"><%= link_to "ニュートン法", newton_path %></li>
          <div class="mr-auto">
            <li class="navbar-item nav-link"><%= link_to "コンセプト", concept_path %></li>
            <li class="navbar-item nav-link" style="margin-right:10px"><%= link_to "使い方", usage_path %></li>
          </div>
        </ul>
      </nav>
    </header>
    <div id="wrap">
      <div class="container">
        <!-- 各ページの内容を出力 -->
        <%= yield %>
      </div>
    </div>
    <footer>
      <small>(C)2019 Math Pro.</small>
    </footer>
  </body>
</html>
